@import "tailwindcss";

:root {
  --font-heading: var(--font-eb-garamond), 'EB Garamond', serif;
  --font-body: var(--font-manrope), 'Manrope', sans-serif;
  --background: #ffffff;
  --foreground: #171717;
  --color-primary:#16404d;
  --color-secondary-cta:#f;
  --text-color-primary:#ffffff;
  --background-beige:#f6f3ec;
}

body {
  font-family: var(--font-body);
  background: var(--background);
  color: var(--foreground);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

li, p, a, span {
  font-family: var(--font-body);
}



/* Cursor Trail Animations Effect - CSS*/

@keyframes trailFadeOut {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1) rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.7) rotate(4deg);
  }
}

.animate-trail-fade {
  animation: trailFadeOut 1s forwards ease-out;
}