.header {
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  padding: 2rem 1.5rem;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.navMenuContainer  {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.navMenuContainer a {
  text-decoration: none;
  color: var(--foreground);
  font-weight: 400;
  transition: color 0.3s ease;
  font-family: var(--font-body);
  cursor: pointer;
  letter-spacing: 0.75px;
}

.logoImage {
  width: 200px;
  height: auto;
}


@media (max-width: 768px) {
  .navMenuContainer {
    flex-direction: column;
    gap: 15px;
    padding: 2rem 1.5rem;
  }

  .headerContent {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
  }

  .header {
    padding: 0.5rem 0.5rem;
  }

  .ctaButton {
    padding: .5rem 1rem;
  }

  .logoImage {
    width: 150px;
    height: auto;
  }

  .headerContent > div:nth-child(3) {
    margin-left:auto;
  }

}

