.header {
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  padding: 2rem 1.5rem;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.navMenuContainer  {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.navMenuContainer a {
  text-decoration: none;
  color: var(--foreground);
  font-weight: 400;
  transition: color 0.3s ease;
  font-family: var(--font-body);
  cursor: pointer;
  letter-spacing: 0.75px;
}